<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_with scope: 'sessions', method: :post, url: login_path do |f| %>
    <%= f.label :email%>
    <%= f.text_field :email%>
    <%= f.label :password%>
    <%= f.text_area :password%>
    <%= f.submit %>


<% end %>