<div class="container">
  <h1>Cohort <%= @cohort.name %>:</h1>
 <%= link_to 'Delete Cohort', cohort_path(id: @cohort.id), method: :delete, class: "waves-effect waves-light btn indigo lighten-1" %>
  <%= link_to 'Edit Cohort', cohort_path(id: @cohort.id), class: "waves-effect waves-light btn indigo lighten-1" %>

       <a href="/cohorts/<%= @cohort.id %>/edit"><i class="material-icons md-25">edit</i></a>

  <table class="cohort-show">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="cohort<%= @cohort.id %>">
      <tr class="table"></tr>
      <td> <%= @cohort.name %> </td>
      <td> <%= @cohort.start_date %> </td>
      <td> <%= @cohort.end_date %> </td>
      <td> <a href="/cohorts/<%= @cohort.id %>"><i class="material-icons md-25">pageview</i></a></td>
      <td> <a href="/cohorts/<%= @cohort.id %>/edit"><i class="material-icons md-25">edit</i></a></td>
      <td> <%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, cohort_path(id: @cohort.id), method: :delete, remote: true %></td>
    </tr>
  </tbody>
</table>
</div>
