<div class="container">
  <div class="row">
    <%= form_with model: @student, url: students_path, class: :col, local: true do |form| %>
      <div class="col l6">
        <div class="input-field col s12">
          <p>
            <%= form.label :first_name %>
            <%= form.text_field :first_name, placeholder: "John" %>
          </p>
        </div>
      </div>
      <div class="col l6">
        <div class="input-field col s12">
          <p>
            <%= form.label :last_name %>
            <%= form.text_field :last_name, placeholder: "Doe" %>
          </p>
        </div>
      </div>
      <div class="col l6">
        <div class="input-field col s12">
          <p>
            <%= form.label :age %>
            <%= form.text_field :age, placeholder: "21" %>
          </p>
        </div>
      </div>
      <div class="col l6">
        <div class="input-field col s12">
          <p>
            <%= form.label :education %>
            <%= form.select(:education, options_for_select([['High School', "High School"], ['College', "College"], ['Masters', "Master"], ['PHD', "PHD"]]), { include_blank: true })  %>
          </p>
        </div>
      </div>
      <br>
      <br>
      <div class="col l6">
        <div class="input-field col s6">
          <button class="waves-effect waves-light btn indigo lighten-1" type="submit" > Add Student
            <%= form.submit " "%>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
