<!-- 
  the following code is available to us in the following files:
    - index.html.erb
    - show.html.erb
-->
<table class="posts">
  <thead>
    <tr>
      <th class="admin_name">Admin Email</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody id="user<%= user.id %>">
    <tr class="users_table">
      <td><%= user.email %></td>
      <br />
      <td> <a href="/users/<%= user.id %>"><i class="material-icons md-25">perm_identity</i></a></td>
      <td> <a href="/users/<%= user.id %>/edit"><i class="material-icons md-25">edit</i></a></td>
      <td> <%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, user_path(id: user.id), method: :delete, remote: true %></td>
    </tr>
  </tbody>
</table>
