<div class="container">

<h1>Edit User <%= @user.name %></h1>

<%= form_with(model: @user) do |form| %>
  Username: <%= form.text_field(:username) %><br />
  Password: <%= form.password_field(:password) %><br />
  <%= form.submit %>
<% end %>
</div>