<!DOCTYPE html>
<html>
  <head>
    <title>PablosPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="<%= students_path %>">Students</a></li>
          <li><a href="<%= courses_path %>">Courses</a></li>
          <li><a href="<%= cohorts_path %>">Cohorts</a></li>

        </ul>
      </div>
    </nav>

    <%= yield %>
    
  </body>
</html>
